@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: $header-height;
  background: $primary-bg-color;
  box-shadow: 0px 4px 9px $shadow-color;
  @include desktop {
    margin-left: $sidenav-desktop-width;
  }
}
