@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/animations.scss";

.iconButtonDark {
  @include button-base($secondary-bg-color);
  color: $text-color-white;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 5px;
  line-height: 50%
}

.iconButtonLight {
  @include button-base($primary-bg-color);
  color: $primary-text-color;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 5px;
}
