@import '../../../common/styles/mixins.scss';


.sampleForm {
  display: flex;
  flex-direction: column;

  @include desktop {
    width: 450px;
  }

  .formButtonWrapper {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
}

