@import "./variables.scss";

@mixin phone {
  @media (max-width: #{$breakpoint-phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}



@mixin button-base($bgcolor : transparent) {
  
  background-color: $bgcolor;
  border:none;
  outline:none;
  &:hover {
      background:darken($bgcolor,8%);
      transition: all 0.3s ease;
    }
  &:active {
      background:darken($bgcolor,25%);
  } 
}
