@import "./variables.scss";

@mixin phone {
  @media (max-width: #{$breakpoint-phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}



@mixin button-base($bgcolor : transparent) {
  
  background-color: $bgcolor;
  border:none;
  outline:none;
  &:hover {
      background:darken($bgcolor,15%);
      transition: all 0.3s ease;
    }
  &:active {
      background:darken($bgcolor,25%);
  } 
}

@mixin font-base() {
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}



.form-select-container {
  & .form-select__control
  {
    color: $primary-text-color;
    box-shadow: $shadow-color 0px 1px 2px inset;
    border-radius: 2px;
    border: 1px solid darken($primary-bg-color, 10%);
    margin: 5px 0px;
  }
  .form-select__control--menu-is-open,
  .form-select__control--is-focused  {
    outline: none;            
    border: 1px solid $text-input-focus-color !important;
  }
  .form-select__option--is-selected {
    background-color: $secondary-bg-color;
    color: $text-color-white;
  }
  .form-select__option--is-focused {
    background-color: darken($primary-bg-color, 5%);
    color: $primary-text-color;
  }
  .form-select__single-value--is-disabled {
    color: $primary-text-color;
  }
}