// BREAKPOINTS
$breakpoint-phone: 767px !default;
$breakpoint-tablet: 768px !default;
$breakpoint-desktop: 992px !default;

//COLOURS
$primary-text-color: #333 !default;
$secondary-text-color: #3B5574 !default;
$text-color-white: #fff !default;

$primary-bg-color: #fff !default;
$secondary-bg-color: #373737 !default;

$accent-color : #FF5050 !default;
$shadow-color: rgba(163, 163, 163, 0.25) !default;

//SIZES
$header-height: 60px !default;
$sidenav-desktop-width: 270px !default;