// BREAKPOINTS
$breakpoint-phone: 767px !default;
$breakpoint-tablet: 768px !default;
$breakpoint-desktop: 992px !default;

//COLOURS
$primary-text-color: #373737 !default;
$secondary-text-color: #FFBA35 !default;
$text-color-white: #fff !default;
$text-color-error: #FF5050 !default;

$primary-bg-color: #fff !default;
$secondary-bg-color: #373737 !default;

$accent-color : #FFBA35 !default;
$shadow-color: rgba(163, 163, 163, 0.25) !default;

$text-input-focus-color: darken($primary-bg-color, 40%);
$input-disabled-bg-color: hsl(0,0%,95%); //Following react-select disabled bg color. Do not change coz react-select style is hard to override

$primary-button-color: #373737 !default;
$secondary-button-color: #FFBA35 !default;
$danger-button-color: #FF5050 !default;
$dark-button-color: #373737 !default;
$light-button-color: #f1f1f1 !default;
$link-button-color: #f1f1f1 !default;

$success-color : #53DE6A !default;
$warning-color : #FFBA35 !default;
$info-color : #007AFF !default;
$error-color : #FF5050 !default;


//SIZES
$header-height: 60px !default;
$sidenav-desktop-width: 290px !default;