@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.cardHeader {
  padding: 20px 10px;
  display: flex;
  .avatarWrapper {
    flex: 1;
  }
  .textWrapper {
    padding: 0px 10px;
    flex: 5;
    .primaryText {
      font-weight: 600;
    }
    .subText {
      margin-top: 10px;
      color: lighten($primary-text-color, 40%);
    }
  }
}
