@import '../../../common/styles/variables.scss';
@import '../../../common/styles/mixins.scss';


.content {
    .notif {
        @include desktop {
            width: 350px;
          }
        min-height: 70px;  
        margin: 20px 0px 20px 0px;
    }
}