@import "../../common/styles/variables.scss";
@import "../../common/styles/mixins.scss";
@import "../../common/styles/animations.scss";

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  h3 {
    margin-left: 10px;
  }
}

.buttonWrapper {
  margin-right: 10px;
}