@import "../../../common/styles/variables.scss";
@import "../../../common/styles/mixins.scss";

.content {

  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > * {
    margin: 10px;
  }

  @include phone {


    > * {
      margin-bottom: 20px;
    }

    flex-direction: column;
    align-items: center;

    
  }
}

.cardHeader {
  padding: 20px 10px;
  display: flex;
  .avatarWrapper {
    flex: 1;
  }
  .textWrapper {
    padding: 0px 10px;
    flex: 5;
    .primaryText {
      font-weight: 600;
    }
    .subText {
      margin-top: 10px;
      color: lighten($primary-text-color, 40%);
    }
  }
}

.cardContent {
  img {
    height: 100%;
    width: 100%;
  }
}

.cardFooter {
  padding: 5px 10px;
  display: flex;
  justify-content: flex-end;
}
