@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";


@mixin notifIconBase($bgColor) {
  margin: 10px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 35px;
  color: $text-color-white;
  background-color: $bgColor;
}

.notificationWrapper {
  min-height: 70px;
  height: auto;
  display: flex;
  flex-direction: row;
  color: $text-color-white;
  background-color: lighten($secondary-bg-color, 10%);
}

.iconDefault {
  @include notifIconBase($secondary-bg-color);
}

.iconSuccess {
  @include notifIconBase(#53DE6A);
}

.iconWarning {
  @include notifIconBase(#FFBA35);
}

.iconInfo {
  @include notifIconBase(#007AFF);
}

.iconError {
  @include notifIconBase($text-color-error);
}