@import './common/styles/mixins.scss';


.container {
  padding: 50px;

  @include phone {
    padding: 20px;
  }

}
.menu {
  a {
    margin-right: 10px;
    text-decoration: none;
  }
}

.activeLink {
  color: green;
  background: #f2f2f2;
  padding: 5px
}
