@import './common/styles/mixins.scss';

html,
body {
  color: $primary-text-color;
  margin: 0;
  padding: 0;
  @include font-base();
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}