@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.cardContainer {
  background-color: $primary-bg-color;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px darken($shadow-color,50%), 
              0px 1px 1px 0px darken($shadow-color,20%), 
              0px 3px 3px -1px darken($shadow-color,10%);
}

