@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

@mixin card-base {
  background-color: $primary-bg-color;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px darken($shadow-color, 50%), 0px 1px 1px 0px darken($shadow-color, 20%),
    0px 3px 3px -1px darken($shadow-color, 10%);
}

.cardDefault {
  @include card-base();
}

.cardScaleOnHover {
  @include card-base();
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.01);
  }
}

.cardHeader {
  padding: 15px 10px;
  display: flex;

  .avatarWrapper {
    margin-right: 5px;
  }

  .textWrapper {
    padding: 0px 10px;
    .primaryText {
      font-weight: 600;
    }
    .subText {
      margin-top: 15px;
      color: lighten($primary-text-color, 40%);
    }
  }
}


.cardContent {
  margin-bottom: auto;
}

.cardFooter {
  margin-top: auto;
  padding: 5px 10px;
}